.main {
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  padding: var(--padding);
  width: fit-content;
  min-width: 300px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main ul {
  list-style: none;
  padding: 0;
}

.bottom{
    display:flex;
    justify-content:space-between;
    align-items:center;
}